<section id="projects">
    <div class="row">
        <div class="col">
            <h1 class="ml-5 my-auto text-xl-left text-md-center section-header">
                <i class="fas fa-code"></i> Code Projects
            </h1>
        </div>
    </div>

    <div class="row ">
        <% project.forEach(function (project) {%>
        <div
            class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 py-2 mx-auto mb-4 h-100 d-flex flex-column justify-content-between <%=project.visibility%>">
            <div class="card-img-top">
                <a href="<%=project.hyperlink%>">
                    <img src="<%=project.image%>" alt="<%=project.name%>" title="<%=project.name%>"
                        class="img-thumbnail" />
                </a>
            </div>

            <div class="card-body">
                <h2 class="card-title"><a href="<%=project.hyperlink%>" class="text-dark"><%=project.name%></a></h2>

                <p class="card-text">
                    <%=project.description%>
                </p>
            </div>
            <div class="card-footer pb-5">
                <a href="<%=project.hyperlink%>"><button type="button" class="btn btn-sm btn-primary mr-1">
                        View Project
                    </button></a>
                <a href="<%=project.source%>"><button type="button" class="btn btn-sm btn-secondary mr-1">
                        Source Code
                    </button></a>
                <a href="<%=project.docs%>"><button type="button" class="btn btn-sm btn-info">Docs</button></a>
                <p class="mt-2">
                    <span class="text-muted float-left text-uppercase"><%=project.language%></span>
                    <span class="text-muted float-right date mt-2"><%=project.date%></span>
                </p>
            </div>
        </div>
        <%})%>
    </div>
</section>