<section id="blog">
    <div class="row">
        <div class="col">
            <h1 class="ml-5 my-auto text-xl-left text-md-center section-header">
                <i class="far fa-edit"></i> Blog Posts
            </h1>
        </div>
    </div>

    <div class="row ">
        <% blog.forEach(function (blog) {%>
        <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 mx-auto <%=blog.visibility%>">
            <div class="card-body mx-3">
                <h2 class="card-title"><a href="<%=blog.hyperlink%>" class="text-dark">
                        <%=blog.name%>
                    </a></h2>

                <p class="card-text">
                    <%=blog.description%>
                </p>

                <a href="<%=blog.hyperlink%>"><button type="button" class="btn btn-light float-right font-weight-bold">
                        View Post 🡒
                    </button></a>
                <br />
                <p class="text-muted mt-1 date">Posted: <%=blog.date%></p>
            </div>
        </div>
        <%})%>
    </div>
</section>