<!-- HEADER -->
<%- include("../layout/partials/01-header") %>
<div class="container-fluid bg">
    <!-- 1. ABOUT -->
    <%- include("../layout/partials/02-about") %>

    <!-- 2. PROJECTS -->
    <%- include("../layout/partials/03-projects") %>

    <!-- 3. BLOG POSTS -->
    <%- include("../layout/partials/04-blog") %>

    <!-- 4. CREATIVE WORKS -->
    <%- include("../layout/partials/05-creative-work") %>

    <!-- 5. CONTACT -->
    <%- include("../layout/partials/06-contact") %>
</div>