<!-- HEADER -->
<%- include("../layout/partials/01-header") %>
<div class="container-fluid bg">
    <!-- ABOUT -->
    <%- include("../layout/partials/02-about") %>

    <!-- PROJECTS -->
    <%- include("../layout/partials/03-projects") %>

    <!-- BLOG POSTS -->
    <%- include("../layout/partials/04-blog") %>

    <!-- CREATIVE WORKS -->
    <%- include("../layout/partials/05-creative-work") %>

    <!-- CONTACT -->
    <%- include("../layout/partials/06-contact") %>
</div>