<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>

    <body>
        <div id="overlay">
            <div id="progstat"></div>
            <div id="progress"></div>
        </div>
        <!-- NAVIGATION-->
        <%- include("./partials/navigation") %>

        <!-- MAIN PAGE -->
        <%- include(`../pages/${template}`) %>

        <!-- FOOTER -->
        <%- include("./partials/footer") %>

        <!-- SCRIPTS -->
        <%- include("./partials/scripts") %>
    </body>
</html>
